<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Υγειόπολης</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <h1 style="display: inline-block;">Υγειόπολης</h1>
                <ul style="float: right;">
                    <li><a href="{{ url_for('index') }}">Αρχική</a></li>
                    <li><a href="{{ url_for('doctors') }}">Ιατροί</a></li>
                    <li><a href="{{ url_for('patients') }}">Ασθενείς</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
</body>

</html>